.container { 
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: yellow;
    padding: 5px 40px;
    margin: 0;
    overflow-x: hidden;
    z-index: 0;
}

.container h6 {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #333;
    position: relative;
    white-space: nowrap;
    animation: desplazamiento 3.5s ease-out 1;
}

@keyframes desplazamiento {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(0vh);
    }
  }



/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

  .container { 
    width: auto;
    height: 18px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0c1c6b;
    padding: 2px 0px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

.container h6 {
  width: 100%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: rgba(256,256,256,.7);
    position: relative;
    white-space: nowrap;
    animation: desplazamiento 30s ease-in-out infinite;
}

@keyframes desplazamiento {
    0% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(140%);
    }
  }
}
