.container { 
  width: auto;
  height: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container h6 {
  width: 260px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  white-space: nowrap;
  color: #111;
  animation: desplazamiento 30s ease-out infinite;
}



@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-40%);
  }
}



/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

  .container { 
    width: auto;
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    z-index: 0;
}

.container h6 {
  width: 400px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    color: rgba(256,256,256,.7);
    position: relative;
    white-space: nowrap;
    color: #1b1b1b;
    animation: desplazamiento 30s ease-out infinite;
}



@keyframes desplazamiento {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
