.NavBarContainer {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px;
    border-right: 2px solid #333;
    position: fixed;
    background: rgba(250, 250, 250,1);
  }
  
  .logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    padding: 10px 100px;
    padding-left: 30px;
    background-image: linear-gradient(to left , #310edf, #1e0e6e  );
  }
  
  .logo h3 {
    width: auto;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    background-clip: text;
    color: transparent;
  }
  
  .menu {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 40px;
    padding-left: 0px;
  }

  .menu nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .menu ul {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 30px;
  }
  
  .menu ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #222;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }
  
  .menu ul li a:hover {
    text-decoration: none;
    color: #cacaca;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }

  .home {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    padding-left: 30px;
    margin-top: 50px;
  }
  
  .home button {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    color: #0c1c6b;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-align: left;
  }
  .home button:hover {
    color: #cacaca;
  }

.hamburgContainer {
  display: none;
}


  /* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

  .NavBarContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-right: none;
    position: inherit;
    background-image: linear-gradient(to left , #310edf, #1e0e6e  );
    overflow-x: hidden;
    z-index: 20000;
  }
  
  .logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px;
    padding-left: 15px;
    background-color: transparent;
  }

  .logo:hover {
    background-color: transparent;
  }

  .logo:hover h3 {
    color: transparent;
  }
  
  .logo h3 {
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -1px;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    background-clip: text;
    color: transparent;
  }
  
  .menu {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 40px;
    padding-left: 0px;
    position: absolute;
    top: 72px;
    left: -800;
    transition: .4s all;
    z-index: 20000 !important;
    overflow-x: hidden;
    background-image: linear-gradient(to left , #310edf, #1e0e6e  );
    border-top: 1px solid yellow;
  }

  .menu nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .menu ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  
  .menu ul li {
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .2px;
    text-align: left;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    background-clip: text;
    color: transparent;
  }
  
  .menu ul li a:hover {
    text-decoration: none;
    color: #cacaca;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }

  .home {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    padding: 0px 20px;
    padding-bottom: 60px;
    margin-top: 20px;
  }
  
  .home button {
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .2px;
    padding: 0;
    color: rgba(256, 256, 256,1);
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-align: left;
    font-style: italic;
  }
  .home button:hover {
    color: #cacaca;
  }

.hamburgContainer { 
  display: flex;
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

.hamburgContainer button {
  font-size: 26px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color:  #e7ef00;
  background-color: transparent;
}
}