.container {
    width: 100%;
    height: auto;
    padding: 40px 0px;
    padding-left: 120px;
}


.cajaCards {
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   padding: 20px 60px;
   margin: 0;
}

.cajaCards::-webkit-scrollbar {
    display: none;
}

.caja  {
    width: 100%;
    height: auto; 
    display: flex;
}



/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
    }
    
    .cajaCards {
       width: 100%;
       height: auto;
       display: flex;
       justify-content: start;
       flex-wrap: nowrap;
       overflow-x: scroll;
       padding: 20px 25px;
       margin: 0;
    }
    
    .cajaCards::-webkit-scrollbar {
        display: none;
    }
    
    .caja  {
        width: 100%;
        height: auto; 
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }


}