.container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.cardsContainer {
   width: auto;
   height: auto;
   padding: 80px;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}





/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
    }
    
    .cardsContainer {
       width: 100%;
       height: auto;
       display: flex;
       justify-content: start;
       flex-wrap: nowrap;
       overflow-x: scroll;
       padding: 20px 25px;
       margin: 0;
    }
    
    .cardsContainer::-webkit-scrollbar {
        display: none;
    }
    
    .caja  {
        width: 100%;
        height: auto; 
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }


}