.containerCarrusel {
    padding: 80px 0;
    margin: 0;
    background-image: linear-gradient(to right , rgb(0, 0, 231),  #000640);
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 30px;
}

.carouselStyles {
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #565656;
 }

.carouselStyles:hover {
    box-shadow: 0px 0px 50px #ffffff61;
}

.caja {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.caja img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
}

.mercadoLibre { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 0;
    background-color: rgb(255, 255, 184);
    border-radius: 6px;
  }
  
  .imgML {
    padding: 0;
    margin: 0;
  }
  
  .imgML img {
    width: 180px;
    height: 90px;
    margin: 0;
    padding: 0;
    content: url("../../../public/lm.png");
    object-fit: cover;
  }
  
  .mercadoTexto {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
    padding-top: 10px;
  }
  
  .mercadoTexto h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: .5px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #0c1c6b;
  }
  
  .mercadoTexto h6 {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: #111;
    font-style: italic;
  }
  
  .mercadoTexto p {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .7px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: #0c1c6b;
    font-style: italic;
  }
  
  .ico {
    font-size: 10px;
    margin-right: 3px;
  }
  


























  @media (min-width: 960px) and (max-width: 1200px) {

    .containerCarrusel {
        padding: 60px 0;
        gap: 20px;
    }
    
    .carouselStyles {
        width: 480px;
        height: 300px;
        border-radius: 8px;
     }
    
    .caja {
        border-radius: 8px;
    }
    
    .caja img {
        height: 300px;
        border-radius: 8px;
        object-position: center;
    }
    
    .mercadoLibre { 
        padding: 20px;
        border-radius: 8px;
      }
      
      .imgML img {
        width: 160px;
        height: 80px;
      }
      
  }









  










/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 960px) {

    .containerCarrusel {
        width: 100%;
        padding: 80px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        gap: 20px; 
    }
    
    .carouselStyles {
        width: 74%;
        height: 300px;
        border-radius: 6px;
     }
    
    .caja {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
    
    .caja img {
        height: 300px;
        border-radius: 6px;
        object-position: center;
    }
    
    .mercadoLibre { 
        width: 74%;
        padding: 20px 0;
    }

    
    
    .imgML img {
        width: 280px;
        height: 130px;
      }
}

