.container {
    width: auto;
    height: auto;
    background-color: rgb(240,240,240);
}


.search {
  display: none;
}

.cardsContainer {
        width: 86%;
        min-height: 520px;
        padding: 40px 20px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }

.notFoundBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productoNotFound {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    color: #222;
    text-align: center;
}

.verTienda {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 14px;
    background-color: #222;
    color: #fff;
    margin: 0px auto;
}

.icon {
    font-size: 16px;
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.verTienda:hover {
    background-color: #000;
}

.filters {
    display: none;
}

/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        min-height: 100vh;
        padding-bottom: 10px;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9);
    }

    .search {
        padding-top: 50px;
    }
    
    .filters {
        width: auto;
        height: auto;
        padding: 8px 0px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
        align-items: center;
        background: rgba(256,256,256,.2);
    
      }
      
    .filters::-webkit-scrollbar {
      display: none;
    }
    
      .filters button {
        width: auto;
        height: auto;
        font-size: 15px;
        font-weight: 600;
        color: #0f0f0f;
        background-color: transparent;
        margin: 0px 15px;
        padding: 2px 0px;
        letter-spacing: .8px;
      }

    .cardsContainer {
            width: auto;
            min-height: 600px;
            padding: 20px 5px;
            padding-bottom: 60px;
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: start;
            background: #FFF;
            gap: 15px 0px;
        }

       
    .notFoundBox {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .productoNotFound {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        text-align: center;
    }
    
    .verTienda {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        background-color: transparent;
        color: rgb(0, 0, 0);
        margin: 0px auto;
    }
    
    .icon {
        font-size: 14px;
        margin-right: 6px;
        position: relative;
        top: 2px;
    }
    
    .verTienda:hover {
        background-color: #000;
    }

    .cerrarModal {
        background-color: transparent;
    }

}