.container {
    background-color: #fff;
    width: 220px;
    min-height: 400px;
    margin: 0px 10px;
    padding: 0px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);
    cursor: pointer;
    position: relative;
    outline: 2px solid #fff;
}

.container:hover {
    box-shadow: 0px 0px 50px rgba(0,0,0,1);
}

.imgContainer  {
    width: auto;
    height: 180px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.imgContainer img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.container h3 {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #333;
    padding: 0px;
    padding-left: 5px;
    margin: 0;
}


.detalle {
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: italic;
    text-align: left;
    color: rgba(0, 0, 0, .9);
    margin: 0px;
    padding: 0px 5px;
    letter-spacing: .8px;
    word-break: normal;
    hyphens: auto;
}

.stock {
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    color: green;
    margin: 0px;
    text-align: left;
    padding: 10px 5px;
}

.stock span {
    font-weight: 700;
}

.precio {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: left;
    padding: 0;
    padding-left: 5px;
    margin: 0;
}

.precioNumero {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
}

.botonAgregar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 7px;
    margin: 0px;
    position: absolute;
    bottom: 8px;
}

.botonKart {
    width: auto;
    height: auto;   
    font-size: 12px;   
    font-weight: 600;
    line-height: 14px;
    padding: 6px 12px;
    text-align: center;
    color: rgba(255, 0, 0, 0.867);
    border: 1px solid rgba(255, 0, 0, 0.867);
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(0,0,0,.0);
    border-radius: 4px;
}

.icon {
    font-size: 12px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.botonKart:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.714);
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
    border: none;

}

.unidades {
    width: auto;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.unidades label {
    font-size: 14px;
    font-weight: 600;
    color: #222;
}

.unidades select {
    width: auto;
    height: auto;
    color: #222;
    text-align: center;
    margin: 0px;
    margin-left: 5px;
    padding: 0px 6px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: transparent;
}

.modal::-webkit-scrollbar {
    display: none;
    display: flex;
    flex-direction: row;
}

.imag {
    width: 40%;
    display: inline;
}

.imgModal {
    margin: auto 0;
    padding: 0;
    width: 100%;
    border-radius: 6px;
}

.txtDetalle {
    width: 58%;
    padding-left: 20px;
    display: inline;
}

.cerrarModal {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0;
}

.cerrarModal button {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #111;
    background-color: transparent;
}


.nameM {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.detalleM {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.infoM {
    width: 84%;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-style: italic;
}

.precioM {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    color: rgb(0, 200, 0);
}

.unidadesM {
    margin: 0;
    margin-top: 40px;
}

.unidadesM select {
    margin-left: 8px;
    background-color: transparent;
    color: #111;
    border-radius: 4px;
    font-size: 17px;
}


.addCartM {
    background-color: rgb(255, 88, 88);
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px 12px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #cbcbcb;
}

.cerrarModalMobile {
     display: none;
}

.modal {
    width: 70%;
    height: 55%;
    margin: 0 auto;
    padding: 0px;
    padding-right: 10px;
    border: none;
    background: rgba(256,256,256,1);
    box-shadow: 0px 0px 20px rgba(0,0,0,.7);
    overflow: scroll;
    border-radius: 6px;
    outline: none;
    position: relative;
    top: 210px;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    z-index: '20000';
}

.modal::-webkit-scrollbar {
    display: none;
}



/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        background: #cdcdcd;
        width: 44vw;
        min-height: inherit;
        height: auto;
        margin: 0px;
        padding: 0px 0px;
        padding-bottom: 8px;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0px;
        box-shadow: none;
        position: relative; 
        outline: none;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
        transition: box-shadow .3s; 
        outline: 1px solid #fff; */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    }
    
    .container:hover {
        box-shadow: 0px 0px 50px rgba(0,0,0,.6);
    }
    
    .imgContainer  {
        width: auto;
        height: auto;
        margin: 0;
        padding: 10px 8px;
        padding-bottom: 0;
        border-radius: 10px 10px 10px 0;
        border-bottom: none;
        background-color: transparent;
        transition: box-shadow .3s;
    }

    .imgContainer img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 10px 10px;
    }
    
    .container h3 {
        width: auto;
        height: auto;
        font-size: 14px;
        line-height: 15px;
        font-weight: 600;
        text-align: center;
        color: #2d2d2d;
        padding: 0px;
        padding-left: 0px;
        margin: 0;
        margin-top: 5px;
    }
    
    
    .detalle {
        width: auto;
        height: auto;
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        font-style: italic;
        text-align: left;
        color: rgba(0, 0, 0, .9);
        margin: 0px;
        margin-top: 5px;
        padding: 0px 5px;
        letter-spacing: .8px;
        word-break: normal;
        hyphens: auto;
    }
    
    .stock {
        width: auto;
        height: auto;
        font-size: 12px;
        font-weight: 300;
        color: #000;
        margin: 0px;
        text-align: left;
        padding: 0px 5px;
    }
    
    .stock span {
        font-weight: 400;
    }
    
    .precio {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        text-align: left;
        padding: 0;
        padding-left: 0px;
        margin: 0;
        text-align: center;
    }
    
    .precioNumero {
        color: rgb(42, 42, 42);
        font-size: 16px;
        font-weight: 800;
        letter-spacing: -.5px;
    }
    
    .botonAgregar {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 5px;
        margin: 0px;
        margin-top: 12px;
        position: inherit;
    }
    
    .botonKart {
        width: auto;
        height: auto;   
        font-size: 10px;   
        font-weight: 600;
        line-height: 14px;
        padding: 0px 0px;
        margin-top: 0px;
        text-align: left;
        color: rgba(255, 0, 0, 0.867);
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    
    .icon {
        font-size: 10px;
        margin-right: 2px;
        position: relative;
        top: 1px;
    }
    
    .botonKart:hover {
        color: red;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    
    .unidades {
        width: auto;
        height: auto;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .unidades label {
        font-size: 12px;
        font-weight: 600;
        color: #222;
    }
    
    .unidades select {
        width: auto;
        height: auto;
        color: #222;
        text-align: center;
        margin: 0px;
        margin-left: 5px;
        padding: 0px 3px;
        border-radius: 2px;
        border: 1px solid #333;
        background-color: transparent;
    }
    
    .modal {
        width: 88%;
        height: calc(100vh - 140px);
        display: flex;
        flex-direction: column !important;
        margin: 0 auto;
        padding: 0px;
        top: 84px;
        left: 0;
        border: none;
        background: rgb(201, 201, 201);
        backdrop-filter: blur(7px);
        box-shadow: 0px 0px 20px rgba(0,0,0,.7);
        overflow: scroll;
        border-radius: 16px;
        outline: none;
        position: relative;
        z-index: 20000;
        overflow-x: hidden;
    }

    .modal::-webkit-scrollbar {
        display: none;
    }
    .cerrarModal { display: none;}

    .cerrarModalMobile {
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 0;
    }

    .cerrarModalMobile button {
        font-size: 17px;
        font-weight: 700;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0;
        color: #333;
        background-color: transparent;
        position: fixed;
    }

    .imag {
        margin-top: 20px;
        margin-left: 10px;
        width: 100%;
        height: 180px;
    }

    .imgModal {
        margin: 0;
        padding: 0;
        width: 75%;
        height: 100%;
        border-radius: 0;
        border-radius: 6px 15px 15px 0px;
        object-fit: cover;
        object-position: center;
    }

    .txtDetalle {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .nameM {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    .detalleM {
        font-size: 14px;
        margin: 0;
        margin-top: 6px;
        padding: 0;
        font-style: italic;
    }

    .infoM {
        width: 90%;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        margin-top: 15px;
        padding: 0;
        font-style: italic;
    }
    
    .precioM {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        color: rgb(6, 6, 6);
    }

    .unidadesM {
        margin: 0;
        margin-top: 10px;
    }

    .unidadesM select {
        margin-left: 8px;
        background-color: transparent;
        color: #111;
        border-radius: 4px;
        border: 1px solid #222;
        font-size: 17px;
    }
    

    .addCartM {
        background-color: rgb(255, 88, 88);
        width: 160px;
        height: auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 6px 12px;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 12px;
        color: #fff;
        border: 1px solid #cbcbcb;
    }


}