.container {
  width: 100%;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.loader {
  width: 80%;
  height: 80vh;
  background-image: url('../../../public/ELECT.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 100px;
}

.productBox {
  width: auto;
  padding: 200px 0;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.imagen {
  width: 100%;
  height: auto;
  background-color: #ddd;
  padding: 0 20px;
  border-radius: 8px;
}

.imagen img {
  width: 300px;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(0px 0px 30px #333);
}

.caja {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.data {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.name {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: .4px;
  padding: 0;
  margin: 0;
}

.detalle {
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0; 
}

.info {
  width: 560px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #222;
}


.stock {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.stock span {
  color: #000;
}

.precio {
  color: #222;
  font-size: 26px;
  font-weight: 700;
}

.botonAgregar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: stretch;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.botonKart {
  width: auto;
  height: auto;   
  font-size: 14px;   
  font-weight: 600;
  margin: 0;
  margin-left: 15px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 6px; 
  color: #fff;
  background-color: rgba(255, 0, 0, 0.714);
  box-shadow: 0px 0px 20px rgba(0,0,0,.4);
}

.icon {
  font-size: 15px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.botonKart:hover {
  background-color: rgb(255, 107, 107);
}

.unidades {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}


.unidades select {
  width: auto;
  height: auto;
  color: #222;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: transparent;
}








/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

  .container {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 30px 12px;
    padding-top: 100px;
    background-color: #fff;
  }
  
  .loader {
    width: 100vw;
    height: 60vh;
    background-image: url('../../../public/ELECT.png');
  }
  
  .name {
    font-size: 20px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: .4px;
    padding: 0;
    margin: 0;
    color: #333;
  }
  
  .caja {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: none;
  }
  
  .imagen {
    width: 88%;
    height: 180px;
    flex: 1;
    background-color: rgb(190, 190, 190);
  }
  
  .imagen img {
    width: auto;
    height: 180px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0px 0px 20px #000);
  }
  
  .texto {
    width: auto;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding:  16px 0;
  }
  
  .botonAgregar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }
  
  .botonKart {
    width: auto;
    height: auto;   
    font-size: 14px;   
    font-weight: 600;
    line-height: 16px;
    margin: 0;
    margin-left: 10px;
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px; 
    color: #fff;
    background-color: rgba(255, 0, 0, 0.714);
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
  }
  
  .icon {
    font-size: 14px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  
  .botonKart:hover {
    background-color: rgba(255, 0, 0, 0.714);
    border: 1px solid #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
    

  }
  
  .unidades {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  
  .unidades select {
    width: auto;
    height: auto;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding: 7px 6px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: transparent;
  }
  
  .data {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
  }
  
  .detalle {
    width: 94%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0; 
    color: #222;
    font-style: italic;
  }
  
  .info {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: italic;
    margin: 0;
  }
  
  
  .stock {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #444;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  
  .stock span {
    color: #000;
  }
  
  .precio {
    color: green;
    font-size: 20px;
    font-weight: 700;
    margin: 6px 0;
    margin-bottom: 22px;
  }
  

}