.container {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 70px;
    padding-bottom: 100px;
}

.boxContainer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    width: 100%;
}

.titulo h3 {
    font-size: 26px;
    font-weight: 700;
    color: #222;
    text-align: center;
}

.tablaCategorias {
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 0;
    background-color: #333;
}

.tablaCategorias table {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.tablaCategorias th h6 {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0;
}

.tablaCategorias tbody {
    background-color: #fff;
}

.tablaCategorias tbody tr td {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tablaCategorias td p {
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}

.tablaCategorias td h5 {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}

.noCategorias {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
    text-align: center;
    color: #222;
}









/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 0;
        padding-bottom: 40px;
        margin: 0;
    }
    
    .boxContainer {
        width: 100%;
        height: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:#fff;
    }
    
    .titulo {
        width: 100%;
    }
    
    .titulo h3 {
        font-size: 24px;
        font-weight: 700;
        color: #222;
        text-align: center;
    }
    
    
    .tablaCategorias {
        width: 90%;
        height: auto;
        margin: 0px auto;
        padding: 0;
        background-color: #333;
    }
    
    .tablaCategorias table {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    
    .tablaCategorias th h6 {
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 5px;
        margin: 0;
    }
    
    .tablaCategorias tbody {
        background-color: #fff;
    }
    
    .tablaCategorias tbody tr td {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .tablaCategorias td p {
        width: auto;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #000;
        background-color: #fff;
        padding: 5px;
        margin: 0;
    }
    
    .tablaCategorias td h5 {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #000;
        background-color: #fff;
        padding: 5px 0px;
        margin: 0;
    }

    .noCategorias {
        width: 100%;
        height: auto;
        font-size: 20px;
        font-weight: 700;
        margin-top: 150px;
        text-align: center;
        color: #222;
        font-style: italic;
    }

}
