.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.input {
    width: 200px;
    height: auto;
    font-size: 14px;
    line-height: 0px;
    margin-right: 5px;
    padding: 6px 0px;
    padding-left: 10px;
    border: .5px solid rgba(246, 255, 0, 1);
    border-radius: 4px;
    background: #fff;
    color: #333;
}

.input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.input:focus {
    border: none;
    outline: none;
}

.button {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 0px 6px;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.button:hover {
    background-color: #222;
}


/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin: 23px 15px;
        margin-bottom: 0;
        padding: 0;
    }
    
    .input {
        width: 200px;
        height: auto;
        font-size: 14px;
        line-height: 0px;
        margin-right: 4px;
        padding: 7px 0px;
        padding-left: 8px;
        border: .5px solid #333;
        border-radius: 4px;
        background: rgba(256,256,256,.4);
        color: #111;
    }
    
    .input::placeholder {
        font-size: 14px;
        font-weight: 600;
        color: #282828;
    }
    
    .input:focus {
        border: 1px solid #111;
        outline: none;
    }
    
    .button {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        line-height: 16px;
        letter-spacing: .7px;
        padding: 8px 12px;
        color: #fff;
        background-color: #333;
        border: 1px solid #111;
        border-radius: 4px;
        box-shadow: none;
        text-shadow: 0px 0px 3px #000;
        cursor: pointer;
    }
    
    .button:hover {
        background-color: #222;
    }
}
