.container {
    width: auto;
    height: auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
      }
      
    .ubi {
    width: auto;
    height: auto;
    display: flex; 
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #8888888c;
    border-radius: 6px;
}

.texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.texto h5 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

.texto p {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.mapa {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4d4d4;
}

.map {
    height: 220px;
}

.mapita {
    display: none;
}

































@media (min-width: 860px) and (max-width: 1060px) {
    .container {
        width: 100%;
        height: auto;
        padding: 80px 0;
          }
          
        .ubi {
            width: 72%;
            gap: 10px;
    }
    
    .texto h5 {
        font-size: 20px;
    }
    
    .texto p {
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    .mapa {
        width: 360px;
        height: 100%;
    }
}














/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 860px) {
    
    .container {
        width: auto;
        height: auto;
        padding: 0;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: none;
        overflow-x: hidden;
        background-color: #fff;
          }
    

        .ubi {
            width: 100%;
            flex-direction: column;
            border: none;
        }

    .texto {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        background-color: transparent;
    }
    
    .texto h5 {
        font-size: 22px;
        font-weight: 700;
        color: #222;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .texto p {
        font-size: 17px;
        font-weight: 600;
        color: #333;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .mapa {
        width: 80%;
        height: auto;
        padding-left: 0px;
        margin: 0px auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map {
        display: none;
    }
    
    .mapita {
        display: block;
        width: 100%;
        outline: 2px solid #333;
    }
}