.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 6000;
  box-shadow: 0px 0px 10px #222;
}

.firstRow {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-image: linear-gradient(to right , rgb(0, 0, 231),  #000640);
}

.logo {
  width: auto;
  height: auto;
}

.logo img {
  width: 150px;
  height: 40px;
  object-fit: cover;
}

.menu {
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: yellow;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .5px;
}

.menu ul li a:hover {
  color: #fff;
}

.openCuenta {
  font-size: 20px;
  font-weight: 400;
  color: yellow;
  background-color: transparent;
}

.secondRow {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 134);  
}

.secondRow button {
  display: inline;
  width: auto;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .7px;
  color: #222;
  background-color: transparent;
  margin: 0px 50px;
  padding: 6px 0;
}

.secondRow button:hover {
  color: #111;
}

.cantidad {
  font-size: 12px;
  font-weight: 900;
  background-color: yellow;
  color: #0c1c6b;
  padding: 1px 5px;
  margin-left: 4px;
  border-radius: 50%;
}

.hamburgContainer { 
  display: none;
}
















/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 920px) {

  .container {
    width: 100%;
    background: transparent;
    box-shadow: none;
  }

  .scrolled {
    background-color: #000640;
    transition: all 1s ease-out;
  }
  
  .firstRow {
    padding: 0px 10px;
    background: transparent;
  }
  
  .logo {
    width: 140px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
    animation: desplazamiento 1s ease-out 1;
    padding: 0;
    margin: 0;
  }

  .scrolled .logo {
      display: flex;
  }
  
  @keyframes desplazamiento {
      0% {
        transform: translateX(-500px);
      }
      100% {
        transform: translateX(0);
      }
  }
  
  .menu {
    width: 100vw;
    height: calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    position: absolute;
    top: 76px;
    left: -1200;
    transition: .8s all;
    z-index: 2000;
    overflow-x: hidden;
    border-top: 1px solid yellow;
  }

  .menu nav {
    width: 100vw;
  }
  
  .menu ul {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 12px 0;
    padding: 0px 15px;
  }
  
  .menu ul li {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  
  .menu ul li a {
    width: 100%;
    text-decoration: none;
    color: #111;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .3px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  .cantidad {
    font-size: 12px;
    font-weight: 900;
    background-color: gold;
    color: #0c1c6b;
    padding: 1px 5px;
    margin-left: 4px;
    border-radius: 50%;
  }
  
  .secondRow {
    width: auto;
    height: auto;
    display: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;
    padding: 0px;
    padding-left: 0px;
    background: transparent;

  }
  
.secondRow::-webkit-scrollbar {
  display: none;
}

  .secondRow button {
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    margin: 0px 15px;
    padding: 2px 0px;
    letter-spacing: .8px;
  }
  
  
  .hamburgContainer { 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 5px;
  }
  
  .menuButton {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 32px;
    transition: 1s all;
    position: relative;
    top: 2.8px;
    color: #e7ef00;
    background-color: transparent;
  }

  .scrolled .menuButton {
    padding-top: 0;
  }

}

