.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 18px;
    overflow: hidden;
    padding: 40px 0;
}






/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        overflow: hidden;
        width: auto;
        gap: 8px;
        padding: 0 15px;
        justify-content: center;
    }
    

}