.container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
}

.subcontainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.titulo h3 {
    font-size: 36px;
    font-weight: 700;
    color: #111;
}

.mediosContacto {
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.form {
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
}

.form form {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    background-color: rgba(256, 256,256, .4);
    border: 1px solid #333;
}

.row { 
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 10px;
}

.row label {
    width: 60px;
    text-align: right;
    padding-right: 10px;
    color: #111;
    font-weight: 600;
}

.row input {
   width: 300px;
   height: 30px;
   background-color: rgba(256, 256,256, .4);
   border: none;
   border-radius: 6px;
   padding: 0px 5px;
   color: #222;
   border: 1px solid #626262;
}

.row input::placeholder {
    font-size: 12px;
    color: #111;
}

.row textarea {
    width: 300px;
    height: 70px;
    background-color: rgba(256, 256,256, .4);
    border: 1px solid #626262;
    border-radius: 6px;
    padding: 5px;
    color: #222;
}

.row textarea::placeholder {
    font-size: 12px;
    color: #111;
}

.botonContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botonContainer button {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 7px 14px;
    border-radius: 4px;
    background: #7b7b7b;
}

.botonContainer button:hover {
    border: none;
    background: #ababab;
}

.wts {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

.wtsTexto {
    width: auto;
    height: auto;
    text-align: center;
}

.wts h4 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.wts a {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.wts a:hover {
    color: #111;
}

.icon {
    font-size: 26px;
    color: green;
    margin-right: 5px;
    position: relative;
    top: 3px;
}




/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    }
    
    .subcontainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    }
    
    .titulo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        margin-top: 0px;
    }
    
    .titulo h3 {
        font-size: 24px;
        font-weight: 700;
        color: rgba(0,0,0,.8);
        text-align: left;
        padding-left: 3%;
        font-style: italic;
    }
    
    .mediosContacto {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    }
    
    .form {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    }
    
    .form form {
        width: 94%;
        height: auto;
        padding: 20px 10px;
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #575757;
        background-color: rgba(256,256,256,.4);
    }
    
    .row { 
        width: auto;
        height: auto;
        display: flex;
        margin-bottom: 10px;
    }
    
    .row label {
        width: 28%;
        text-align: right;
        padding-right: 12px;
        color: #111;
        font-weight: 500;
    }
    
    .row input {
       width: 72%;
       height: 30px;
       background-color: rgba(256, 256,256, .2);
       border: 1px solid rgba(57,57,57,1);
       border-radius: 4px;
       padding: 0px 5px;
       color: #222;
    }
    
    .row input::placeholder {
        font-size: 12px;
        color: #111;
    }
    
    .row textarea {
        width: 72%;
        height: 70px;
        background-color: rgba(256, 256,256, .2);
        border: 1px solid rgba(57,57,57,1);
        border-radius: 4px;
        padding: 5px;
        color: #222;
    }
    
    .row textarea::placeholder {
        font-size: 12px;
    }
    
    .botonContainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 14px;
    }
    
    .botonContainer button {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        padding: 7px 14px;
        border-radius: 4px;
        border: 1px solid rgba(256,256,256,1);
        background: yellow;
        color: #222;
        box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    }
    
    .botonContainer button:hover {
        border: none;
        background: #111;
        color: #fff;
    }
    
    .wts {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-top: 10px;
    }
    
    .wtsTexto {
        width: auto;
        height: auto;
        text-align: center;
    }
    
    .wts h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 10px;
        font-style: italic;
    }
    
    .wts a {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }
    
    .wts a:hover {
        color: #111;
    }
    
    .icon {
        font-size: 20px;
        color: green;
        margin-right: 1px;
        position: relative;
        top: 3px;
    }

}