.container {
    background-color: #fff;
    width: 200px;
    min-height: auto;
    margin: 0px 10px;
    padding: 0px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    cursor: pointer;
    position: relative;
    outline: none;
}

.container:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.imgContainer  {
    width: 200px;
    height: 180px;
    margin: 0;
}

.imgContainer img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.container h3 {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #333;
    padding: 0px;
    margin: 0;
}


.detalle {
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: italic;
    text-align: left;
    color: rgba(0, 0, 0, .9);
    margin: 0px;
    padding: 0px 5px;
    letter-spacing: .8px;
    word-break: normal;
    hyphens: auto;
}

.stock {
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    color: green;
    margin: 0px;
    text-align: left;
    padding: 10px 5px;
}

.stock span {
    font-weight: 700;
}

.precio {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.precioNumero {
    color: #040404;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
}

.botonAgregar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 7px;
    margin: 0px;
    position: absolute;
    bottom: 8px;
}

.botonKart {
    width: auto;
    height: auto;   
    font-size: 12px;   
    font-weight: 600;
    line-height: 14px;
    padding: 6px 12px;
    text-align: center;
    color: rgba(255, 0, 0, 0.867);
    border: 1px solid rgba(255, 0, 0, 0.867);
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(0,0,0,.0);
    border-radius: 4px;
}

.icon {
    font-size: 12px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.botonKart:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.714);
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
    border: none;

}

.unidades {
    width: auto;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.unidades label {
    font-size: 14px;
    font-weight: 600;
    color: #222;
}

.unidades select {
    width: auto;
    height: auto;
    color: #222;
    text-align: center;
    margin: 0px;
    margin-left: 5px;
    padding: 0px 6px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: transparent;
}

.modal {
    width: 58%;
    height: 54%;
    padding: 0px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.7);
    display: flex;
    flex-direction: row;
    overflow: scroll;
    border-radius: 6px;
    position: relative;
    left: 0;
    top: 120px;
    background-color: #fff;
    outline: none;
}

.modal::-webkit-scrollbar {
    display: none;
}

.cerrarModalMobile {
    display: none;
}

.imag {
    width: 50%;
}

.imgModal {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    border-radius: none;
    object-fit: cover;
    object-position: center;
}

.cerrarModal {
    width: 100%;
    display: flex;
    justify-content: end;
}

.cerrarModal button {
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    color: #111;
}

.txtDetalle {
    width: 100%;
    padding: 0;
    padding-left: 20px;
}

.nameM {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.detalleM {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.infoM {
    width: 84%;
    min-height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-style: italic;
}

.precioM {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    color: rgb(0, 200, 0);
}

.unidadesM {
    margin: 0;
    margin-top: 10px;
}

.unidadesM select {
    margin-left: 8px;
    background-color: transparent;
    color: #111;
    border-radius: 4px;
    font-size: 17px;
}


.addCartM {
    background-color: rgb(255, 88, 88);
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px 12px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #cbcbcb;
}

/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        background-color: #e3e3e3;
        width: 190px;
        min-height: auto;
        margin: 10px;
        padding: 10px 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
        transition: box-shadow .3s;       
        position: relative;
        outline: none;
    }
    
    .container:hover {
        box-shadow: 0px 0px 20px rgba(0,0,0,1);
    }
    
    .imgContainer  {
        width: 190px;
        height: 180px;
        margin: 0;
        margin-right: 0px;
        border-radius: 10px;
        border-bottom: none;
        background-color: #fff;
    }
    
    .imgContainer img {
        width: 190px;
        height: 180px;
        object-fit: fit;
        object-position: center;
        border-radius: 4px;  }
    

.txt { 
    padding: 10px;
    padding-left: 6px;
}

    .container h3 {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        color: #060606;
        padding: 0px;
        margin: 0;
        margin-top: 5px;
        padding-left: 0px;
    }
    
    
    .detalle {
        width: 100%;
        height: auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        font-style: italic;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        margin: 0px;
        margin-top: 5px;
        padding: 0px;
        letter-spacing: .8px;
        word-break: normal;
        hyphens: auto;
    }
    
    .stock {
        width: auto;
        height: auto;
        font-size: 12px;
        font-weight: 600;
        color: rgba(0, 0, 0, .4);
        margin: 0px;
        text-align: left;
        padding: 0px 5px;
    }
    
    .stock span {
        font-weight: 700;
    }
    
    .precio {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        text-align: center;
        padding: 0;
        padding-left: 0px;
        margin: 0;
    }
    
    .precioNumero {
        color: rgb(35, 35, 35);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -.6px;
        margin: 0;
        padding: 0;
    }
    
    .botonAgregar {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 5px;
        margin: 0px;
        position: absolute;
        bottom: 0;
    }
    
    .botonKart {
        width: auto;
        height: auto;   
        font-size: 14px;   
        font-weight: 600;
        line-height: 14px;
        padding: 0px;
        padding-bottom: 10px;
        margin-top: 4px;
        text-align: left;
        color: rgba(255, 0, 0, 0.867);
        border: none;
        background-color: transparent;
        box-shadow: 0px 0px 20px rgba(0,0,0,.0);
        border-radius: 4px;
    }
    
    .icon {
        font-size: 14px;
        margin-right: 2px;
        position: relative;
        top: 0px;
    }
    
    .botonKart:hover {
        background-color: transparent;
        color:rgba(255, 0, 0, 0.714);
        box-shadow: none;
        border: none;
    }
    
    .unidades {
        width: auto;
        height: auto;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .unidades label {
        font-size: 14px;
        font-weight: 600;
        color: #222;
    }
    
    .unidades select {
        width: auto;
        height: auto;
        color: #222;
        text-align: center;
        margin: 0px;
        margin-left: 5px;
        padding: 0px;
        border-radius: 2px;
        border: none;
        background-color: transparent;
        font-size: 14px;
    }
    

    .cerrarModal { display: none;}

    .cerrarModalMobile {
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 0;
    }

    .cerrarModalMobile button {
        font-size: 17px;
        font-weight: 700;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0;
        color: hsl(0, 100%, 58%);
        background-color: transparent;
        position: fixed;
    }

    .imag {
        margin-top: 17px;
        margin-left: 10px;
        width: 100%;
        height: 180px;
    }

    .imgModal {
        margin: 0;
        padding: 0;
        width: 75%;
        height: 100%;
        border-radius: 0;
        border-radius: 6px 15px 15px 0px;
        object-fit: cover;
        object-position: center;
    }

    .txtDetalle {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .nameM {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    .detalleM {
        font-size: 14px;
        margin: 0;
        margin-top: 6px;
        padding: 0;
        font-style: italic;
    }

    .infoM {
        width: 90%;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        font-style: italic;
    }
    
    .precioM {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        color: rgb(6, 6, 6);
    }

    .unidadesM {
        margin: 0;
        margin-top: 12px;
    }

    .unidadesM select {
        margin-left: 8px;
        background-color: transparent;
        color: #111;
        border-radius: 4px;
        border: 1px solid #222;
        font-size: 14px;
    }
    
    .addCartM {
        background-color: rgb(255, 88, 88);
        width: 160px;
        height: auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 6px 12px;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        color: #fff;
        border: 1px solid #cbcbcb;
    }

    .modal {
        width: 88%;
        height: calc(100vh - 165px);
        max-height: 600px;
        display: flex;
        flex-direction: column !important;
        margin: 0 auto;
        padding: 0px;
        top: 84px;
        left: 0;
        border: none;
        background: rgb(235, 235, 235);
        box-shadow: 0px 0px 20px rgba(0,0,0,.7);
        overflow-y: scroll;
        border-radius: 16px;
        outline: none;
        position: relative;
        z-index: 20000;
        overflow-x: hidden;
    }

    .modal::-webkit-scrollbar {
        display: none;
    }
}