.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  ); 
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

.carrusa {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 120px 0px;
    margin: 0;
    background: #111;

}

.text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0px;
    margin: 0;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    border-radius: 0px;
    border: 0px solid gold;
}

.text p {
    font-size: 160px;
    text-align: center;
    color: rgba(0,0,0,1);
    margin: 0;
    padding: 0;
    padding-right: 10px;
    margin-right: 20px;
    border-right: 2px solid #111;
}

.first {
    display: flex;
    flex-direction: column-reverse;
}

.text h4 {
    width: 100%;
    font-size: 64px;
    font-weight: 800;
    color: #111;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 64px;
}

.text h5 {
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #222;
    text-align: left;
    margin: 0;
    padding: 0px;
    line-height: 46px;
    font-style: italic;
}




/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        background-color: #fff;
        border-top: none;
        border-bottom: none;
    }
    
    .carrusa {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 60px 0px;
        margin: 0;
        background-image: #222;
    }

    .first {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .text {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 130px 0px;
        padding-left: 12px;
        margin: 0;
        margin-bottom: 0px;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
        border-radius: 0px;
        border: none;
    }
    
    .text:hover {
        background-color: rgb(254, 254, 218);
    }
    .text:hover h4 {
        color: inherit;
    }
    .text:hover h5 {
        color: inherit;
    }
    .text:hover p {
        color: inherit;
    }
    
    .text h4 {
        width: 100%;
        font-size: 26px;
        font-weight: 900;
        line-height: 24px;
        font-style: italic;
        color: #333;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    
    .text h5 {
        width: 100%;
        font-size: 24px;
        line-height: 22px;
        font-weight: 400;
        color: #333;
        text-align: left;
        margin: 0;
        padding: 0px 0px;
        font-style: italic;
        text-shadow: none;
    }
    
    .text p {
        font-size: 76px;
        text-align: center;
        color: #333;
        margin: 0px;
        margin-right: 8px;
        padding: 0;
        padding-right: 10px;
    }
    
    
}