.container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    background-color: #111;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

.carrusa {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.text {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    margin: 0;
    background-color: #111;
    border-radius: 6px;
    border: 2px solid gold;
}

.text:hover {
    background-color: gold;
    cursor: pointer;
}
.text:hover h4 {
    color: #111;
}
.text:hover h5 {
    color: #111;
}
.text:hover p {
    color: #111;
}

.text h4 {
    font-size: 42px;
    font-weight: 700;
    color: gold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.text h5 {
    font-size: 32px;
    font-weight: 600;
    color: gold;
    text-align: center;
    margin: 0;
    padding: 30px 0px;
}

.text p {
    font-size: 90px;
    text-align: center;
    color: gold;
    margin: 0;
    padding: 0;
}



/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        background-color: #fff;
        border-top: 1px solid yellow;
        border-bottom: 1px solid yellow;
    }
    
    .carrusa {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        background-color: #222;
    }
    
    .text {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        margin: 0;
        margin-bottom: 60px;
        background-color: transparent;
        border-radius: 4px;
        border: none;
    }
    
    .text:hover {
        background-color: gold;
        cursor: pointer;
    }
    .text:hover h4 {
        color: #111;
    }
    .text:hover h5 {
        color: #111;
    }
    .text:hover p {
        color: #111;
    }
    
    .text h4 {
        font-size: 18px;
        font-weight: 700;
        color: #222;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .text h5 {
        font-size: 15px;
        font-weight: 600;
        color: #222;
        text-align: center;
        margin: 0;
        padding: 10px 0px;
        font-style: italic;
    }
    
    .text p {
        font-size: 34px;
        text-align: center;
        color: #222;
        margin: 0;
        margin-top: 60px;
        padding: 0;
    }
    
    
}