.container {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right , rgb(0, 0, 231),  #000640);
}

.text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 40px 0px;
    margin: 0;
}

.text p {
    font-size: 90px;
    color: #aaa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.first {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.firstMovil {
    display: none;
}

.text h4 {
    width: 100%;
    font-size: 42px;
    font-weight: 800;
    color: #aaa;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 40px;
}

.text h5 {
    width: 100%;
    font-size: 34px;
    font-weight: 500;
    color: #aaa;
    text-align: left;
    margin: 0;
    padding: 0px;
    line-height: 36px;
    font-style: italic;
}
























@media (min-width: 680px) and (max-width: 960px) {
    
    .text p {
        font-size: 84px;
        color: #aaa;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    
    .text h4 {
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        color: #aaa;
        text-align: left;
        margin: 0;
        padding: 0;
        font-style: italic;
        line-height: 40px;
    }
    
    .text h5 {
        width: 100%;
        font-size: 26px;
        font-weight: 500;
        color: #aaa;
        text-align: left;
        margin: 0;
        padding: 0px;
        line-height: 42px;
        font-style: italic;
    }


}














/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    }
    
    .text {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 80px 0px;
        margin: 0;
    }
    
    .text p {
        font-size: 50px;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    
    .first {
        display: none;
    }

    .firstMovil {
        display: block;
    }
    
    .firstMovil h4 {
        text-align: left;
    }

    .firstMovil h5 {
        text-align: left;
    }

    .text h4 {
        width: 100%;
        font-size: 22px;
        font-weight: 800;
        color: #333;
        text-align: left;
        margin: 0;
        padding: 0;
        font-style: italic;
        line-height: 22px;
        word-spacing: -1px;
        letter-spacing: -.4px;
    }
    
    .text h5 {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        color: #333;
        text-align: left;
        margin: 0;
        padding: 0px;
        line-height: 18px;
        font-style: italic;
        word-spacing: -.5px;
        letter-spacing: -.6px;
    }
    
}