.containerFooter {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.footer {
  background-color: #111;
  width:  auto;
  height: auto;
  padding: 120px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}


.footerSocial {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 7px;
}

.redesTexto {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
}

.footerSocial .socials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerSocial a {
  font-size: 32px;
  margin: 0px 10px;
  margin-top: 12px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.footerSocial a:hover {
  color: yellow;
}

.footerNavigation {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footerNavigation .link {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footerNavigation .link a{
  text-decoration: none;
  margin: 10px 0px;
  font-size: 17px;
  text-align: left;
  color:aliceblue;
}

.footerContact {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footerContact .contact{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footerContact .contact p{
  font-size: 17px;
  font-weight: 600;
  color: aliceblue;
  margin: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.footerContact .contact p .icon{
  font-size: 17px;
  margin: 5px 7px;
}

.footerContact .contact a{
  font-size: 17px;
  font-weight: 600;
  color: aliceblue;
  margin: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.footerContact .contact a .icon{
  font-size: 17px;
  margin: 5px 7px;
}


.footerNewLetter {
  width: 20%;
  display: flex;
  flex-direction: column;  
  padding-top: 7px;
  box-sizing: border-box;
  background-color: transparent;
}

.footerNewLetter form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.footerNewLetter form label{
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  width: auto;
}

.footerNewLetter form input{
  width: auto;
  height:  auto;
  font-size: 14px;
  padding: 8px 5px;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(240, 240, 240, 0.05);
}

.footerNewLetter form input::placeholder {
  color: rgba(240, 240, 240, .6);
}

.footerNewLetter form button{
  border: none;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
  color: #111; 
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 10px 0px;
  padding: 7px 16px;
  cursor: pointer;
}

.dev {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 30px 0;
  margin: 0;
  color: rgba(256,256,256,.7);
}

.dev a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .3px;
  opacity: .9;
  padding: 0;
  margin: 0;
}

.modo {
  color: #02BCDE;
}

.digi {
  color: #64e015;
}




/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 960px) {
  .containerFooter {
    background-color: #000;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer {
    background-color: #000;
    width:  100%;
    height: auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  /* Redes Sociales */
  
  .footerSocial {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  .redesTexto {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  
  .footerSocial .socials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .footerSocial a {
    font-size: 22px;
    margin: 0px 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
  
  .footerSocial a:hover {
    color: yellow;
  }
  
  
  .footerNavigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footerNavigation .link {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footerNavigation .link a{
    text-decoration: none;
    margin: 8px 0px;
    font-size: 16px;
    text-align: center;
    color:#fff;
  }
  
  .footerContact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .footerContact .contact{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footerContact .contact p{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerContact .contact p .icon{
    font-size: 16px;
    margin: 5px 7px;
  }
  
  .footerContact .contact a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 8px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  
  .footerContact .contact a .icon{
    font-size: 17px;
    margin: 5px 7px;
  }
  
  
  .footerNewLetter {
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    box-sizing: border-box;
    margin-top: 50px;
    border: none;
  }
  
  .footerNewLetter form {
    width: 64%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  
  .footerNewLetter form label{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  
  .footerNewLetter form input{
    width: auto;
    height:  auto;
    font-size: 14px;
    padding: 8px 7px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(240, 240, 240, 0.05);
  }
  
  .footerNewLetter form input::placeholder {
    color: rgba(240, 240, 240, .6);
  }
  
  .footerNewLetter form button{
    border: none;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9  );
    color: #111;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 10px 0px;
    padding: 7px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  
  .dev {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 8px;
    color: rgba(256,256,256,.7);
    border-top: .5px solid #ffffff31;
    padding-bottom: 30px;
}

.dev a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .3px;
    opacity: .9;
}

.modo {
    color: #02BCDE;
    font-weight: 800;
}

.digi {
    color: #64e015;
    font-weight: 800;
}

 
}