.container {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.titulo {
    width: 100%;
}

.titulo h4 {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-size: 20px;
    font-weight:7600;
    color: #333;
    text-align: center;
}

.cardContainer {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
}













/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .container {
        background-color: #efefef;
        width: auto;
        height: auto;
        padding: 60px 0px;
        display: flex;
        flex-direction: column;
    }
    
    .titulo {
        width: 100%;
        height: auto;
    }
    
    .titulo h4 {
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
        color: #111;
        text-align: center;
    }
    
    .cardContainer {
        width: auto;
        height: auto;
        padding: 40px 40px;
        padding-left: 20px;
        margin: 0;
        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: stretch;
        gap: 8px;
        overflow-x: scroll;
    }

    .cardContainer::-webkit-scrollbar {
        display: none;
    }
}
