.container {
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 100%;
    height: auto;
}

.titulo h4 {
    margin: 0;
    margin-left: 60px;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #111;
}

.cardContainer {
    width: auto;
    height: auto;
    padding: 0px 80px;
    margin: 50px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
}

.cardContainer::-webkit-scrollbar {
    display: none;
  }

.formAndPromedio {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    margin: 0px 80px;
    background-color: #f6f6f6;
}

.ratingContainer {
    width: auto;
    height: auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.formContainer {
    width: 50%;
    height: auto;
    margin-left: 50px;
}


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
   
    .container {
        background-image: linear-gradient(to right, #f3f3f3,#fff);
        width: auto;
        height: auto;
        padding: 80px 0px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .titulo {
        width: auto;
        height: auto;
    }
    
    .titulo h2 {
        width: auto;
        height: auto;
        font-size: 21px;
        font-weight: 500;
        font-style: italic;
        color: rgba(0, 0, 0,.8);
        margin-left: 0px;
        padding: 0px;
        padding-left: 15px;
        text-align: left;
    }
    
    .cardContainer {
        width: auto;
        height: auto;
        padding: 0px;
        padding-left: 15px;
        margin: 15px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;
    }
    
    
    .formAndPromedio {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0px;
        background-color: transparent;
        background-image: none;
    }
    
    .ratingContainer {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .formContainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    


}
