#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



body {
  color: rgb(27,27,27);
  background-color: rgb(27,27,27);
  font-family: 'Montserrat';
}

button {
  border: none;
  outline: none;
}

button:hover {
  outline: none;
  border: none;
}

button:focus {
  border: none;
  outline: none;
}