.container {
    width: 100%;
    min-height: auto;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 70px;
    padding-bottom: 100px;
}

.boxContainer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    width: 100%;
}

.titulo h3 {
    font-size: 26px;
    font-weight: 700;
    color: #222;
    text-align: center;
}

.tablaProductos {
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 0;
    background-color: #333;
}

.tablaProductos table {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.tablaProductos th h6 {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0;
}

.tablaProductos tbody {
    background-color: #fff;
}

.tablaProductos tbody tr td {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tablaProductos td p {
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}

.tablaProductos td h5 {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}

.tablaProductos td img {
    width: 50px;
    height: auto;
    border-radius: 10%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}

.botonEliminar {
    display: block;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    color: red;
    background-color: transparent;
}

.botonEditar {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    color: blue;
    background-color: transparent;
    margin-bottom: 10px;
}

.noProductos {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
    text-align: center;
    color: #222;
}

.vermas {
    width: 100%;
    background-color: transparent;
    color: #0034c5;
    font-weight: 700;
    text-align: center;
}

.modal::-webkit-scrollbar {
    display: none;
}

.cierre {
    width: 100%;
    padding: 0;
    text-align: right;
    background: transparent; 
    font-weight: 600; 
    font-size: 24px;
    color: rgb(0, 50, 131);
     ;
}

.pModal {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.pModal span {
    font-weight: 500;
    font-size: 18px;
    color: #111;
    padding-left: 6px;
}


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    
    .container {
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 0;
        padding-bottom: 40px;
        margin: 0;
    }
    
    .boxContainer {
        width: 100%;
        height: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
    }
    
    .titulo {
        width: 100%;
    }
    
    .titulo h3 {
        font-size: 24px;
        font-weight: 700;
        color: #222;
        text-align: center;
    }
    
    .tablaProductos {
        width: 90%;
        height: auto;
        margin: 0px auto;
        padding: 0;
        background-color: #333;
    }
    
    .tablaProductos table {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    
    .tablaProductos th h6 {
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 5px;
        margin: 0;
    }
    
    .tablaProductos tbody {
        background-color: #fff;
    }
    
    .tablaProductos tbody tr td {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .tablaProductos td p {
        width: auto;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #000;
        background-color: #fff;
        padding: 5px;
        margin: 0;
    }
    
    .tablaProductos td h5 {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #000;
        background-color: #fff;
        padding: 5px;
        margin: 0;
    }

    .tablaProductos td h6 {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        text-align:  center;
        color: #000;
        background-color: #fff;
        padding: 5px;
        margin: 0;
    }
    
    .tablaProductos td img {
        width: 80px;
        height: 60px;
        border-radius: 10px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        object-fit: cover;
        object-position: center;
    }
    
    
    .vermas {
        font-weight: 600;
        background-color: transparent;
        color: rgb(0, 0, 197);
        text-align: center;
        padding: 0;
        margin: 0;
        font-style: italic;
    }
    
    .noProductos {
        width: 100%;
        height: auto;
        font-size: 20px;
        font-weight: 700;
        margin-top: 150px;
        text-align: center;
        color: #222;
        font-style: italic;
    }

    .cierre {
        width: 100%;
        padding: 0;
        text-align: right;
        background: transparent; 
        font-weight: 600; 
        font-size: 24px;
         color: rgb(0, 50, 131);
         ;
    }
    
    .pModal {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        color: rgb(0, 0, 0);
    }
    
    .pModal span {
        font-weight: 500;
        font-size: 18px;
        color: #111;
        padding-left: 6px;
    }

    .botonEditar {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        color: rgb(65, 65, 255);
        background-color: transparent;
        display: block;
        font-style: italic;
        letter-spacing: .7px;
    }
    
    .botonEliminar {
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        color: rgb(255, 88, 88);
        background-color: transparent;
        display: block;
        font-style: italic;
        letter-spacing: .7px;
        margin-top: 12px;
    }
}