.container {
    width: auto;
    min-height: 100vh;
    background-color: rgb(240,240,240);
}

.cardsContainer {
        width: auto;
        height: auto;
        padding: 60px 0px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        background-color: rgb(240, 240, 240);
        gap: 60px 0px;
    }


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        min-height: 100vh;
        background-color: rgb(255, 255, 245);
    }
    
    .cardsContainer {
            width: auto;
            height: auto;
            padding: 5px;
            padding-top: 40px;
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            background-color: rgb(255, 255, 245);
            gap: 15px 0;
        }

        .search {
            width: auto;
            height: auto;
            padding: 0;
            margin: 0;
            padding-top: 60px;
            display: flex;
            align-content: start;
            justify-content: start;
        }

        .filters {
            width: auto;
            height: auto;
            padding: 8px 0px;
            margin: 0;
            margin-top: 25px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
            justify-content: start;
            align-items: center;
            background: rgba(0,0,0,.4);
        
          }
          
        .filters::-webkit-scrollbar {
          display: none;
        }
        
          .filters button {
            width: auto;
            height: auto;
            font-size: 15px;
            font-weight: 600;
            color: #f1f1f1;
            background-color: transparent;
            margin: 0px 15px;
            padding: 2px 0px;
            letter-spacing: .8px;
          }
}