.container {
    width: auto;
    min-height: 100vh;
    background-image: linear-gradient(to right , #e7ef00, #fcffa9);
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navPc {
  width: 100%;
  z-index: 3000;
  position: fixed;
}

.cardsContainer {
        width: auto;
        height: auto;
        padding: 40px 20px;
        padding-top: 200px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: stretch;
       background: #fff;
        gap: 40px 0px;
    }

    .header {
      display: none;
    }

    .search {
      display: none;
    }

    .filters {
      display: none;
    }


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        min-height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .navPc {
      display: none;
    }
    
    
    .header {
      width: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 0px;
          background-color: #fff;          position: inherit;
        }

        .search {
            width: auto;
            height: auto;
            padding: 0;
            margin: 0;
            padding-top: 72px;
            display: flex;
            align-content: end;
            justify-content: start;
  }

    .search input {
      width: 200px;
      padding: 8px 5px;
    }

    .search button {
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      padding: 7px 16px;
    }

    .search input::placeholder {
      font-size: 14px;
      font-weight: 600;
      color: #373737;
    }

        .filters {
          width: auto;
          height: auto;
          padding: 9px 0px;
          margin: 0px;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            justify-content: start;
            align-items: center;
            background: rgba(0,0,0,.8);
            border-top: 1px solid #3f19ffb9;
            border-bottom: 1px solid #3f19ffb9;
          }

          .filters::-webkit-scrollbar {
            display: none;
          }
          
        
        .filters button {
            width: auto;
            height: auto;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            background-color: transparent;
            margin: 0px 15px;
            padding: 2px 0px;
            letter-spacing: .8px;
          }

        .cardsContainer {
                width: 100%;
                min-height: calc(100vh - 180px);
                padding: 0px;
                padding-top: 30px;
                margin: 0px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;
                background-image: none;
                background-color: #fff;
                gap: 25px 20px;
            }

            .loader {
              width: 100%;
              height: 400px;
              display: flex;
        justify-content: center;
        align-items: center;
            }

            .loader img {
              width: 100%;
              object-fit: scale-down;
            }
          }